@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Add a new treat</h2>
<hr />
<br>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)<span>&nbsp;&nbsp;</span>
  @Html.TextBoxFor(model => model.Description)<span>&nbsp;&nbsp;&nbsp;</span>
  <!-- in case price will be required -->
  <!-- @Html.LabelFor(model => model.Price)<span>&nbsp;&nbsp;</span>
  @Html.TextBoxFor(model => model.Price, new {type="number", min="0"})
  <br> -->
  @Html.Label("Flavor")<span>&nbsp;</span>
  @Html.DropDownList("FlavorId")
  <br><br>
  <input type="submit" value="Add new treat" />
}

<br>
<button type="button" class="btn-link">@Html.ActionLink("Show all treats", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>