@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price, new {type="number", min="0"})
  <br>
  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new treat" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all treats", "Index")</p>