@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Edit @Html.DisplayFor(model => model.Description) treat</h2>
<hr />
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.LabelFor(model => model.Description)
  <span>&nbsp;</span>
  @Html.EditorFor(model => model.Description)
  <span>&nbsp;&nbsp;</span>
  @Html.Label("Select flavor")
  <span>&nbsp;</span>
  @Html.DropDownList("FlavorId")
  <br><br>
  <input type="submit" value="Save" />
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Back to list", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>
