@{
  Layout = "_Layout";
}

@using SweetAndSavory.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <!-- @Html.LabelFor(user => user.Email, htmlAttributes: new { @class = "control-label col-md-2" , @style = "float: left;text-align: left;" }) -->
    @Html.LabelFor(user => user.Email, htmlAttributes: new { @class = "label-1"})
    <span>  </span>
    @Html.TextBoxFor(user=> user.Email, htmlAttributes: new { @class = "input"})
    <br>
    @Html.LabelFor(user=> user.Password, htmlAttributes: new { @class = "label-2"})
    <span> </span>
    @Html.PasswordFor(user=> user.Password, htmlAttributes: new { @class = "input"})
    <br>

    @Html.LabelFor(user=> user.ConfirmPassword, htmlAttributes: new { @class = "label-3"})
    <span> </span>
    @Html.PasswordFor(user=> user.ConfirmPassword, htmlAttributes: new { @class = "input"})
    <br><br>
    <input type="submit" value="Register" />
    <br><br>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
}