@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name) flavor?</h2>
<!-- @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) -->
<br>
@using (Html.BeginForm())
{
  <input type="submit" value="Yes, delete it!" />
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Back to List", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>