@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor;

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No treats with this flavor</p>
}
else
{
  <h3>All treats with this flavor:</h3>
  <br>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>✓ @join.Treat.Description</li>
  }
  </ul>
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Back to flavors", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</button>
<button type="button" class="btn-link">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>