@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Edit @Html.DisplayFor(model => model.Name) flavor</h2>
<hr />
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)<span>&nbsp;</span>
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<br>
<button type="button" class="btn-link">@Html.ActionLink("Back to list", "Index")</button>
<button type="button" class="btn-link">@Html.ActionLink("Home", "Index", "Home")</button>